:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: #ddd;
  padding-top: 60px;
}

:root,
body {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}

h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
}

.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 20px;
  margin-left: 10px;
}

form input {
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

form p {
  display: inline-block;
  text-align: right;
  width: 150px;
}

form h5 {
  display: inline-block;
  text-align: right;
  width: 200px;
}

.comp-time {
  text-align: center;
  height: auto;
  margin-right: 3px;
}

#submitbtn {
  display: flex;
  height: auto;
  text-align: center;
}

.height-up {
  height: 25px;
}

.chartwidth {
  max-width: 600px;
}

.navbar,
.navbar-default {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2b2b4a,
    #433e82,
    #1b173e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.98;
}
